.identity-layout {
  height: 100svh;
  width: 100svw;
  background-color: var(--navy-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-title {
  color: #fff!important;
  font-size: 32px#fff!important;
  text-align: center;
}
