.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
}

.move-left {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.bank-logo {
  height: 48px !important;
  margin-right: 1rem;
}
