.table-row-light {
  background-color: #1f2a37; /* Light row background color */
}
.table-row-dark {
  background-color: #374151; /* Dark row background color */
}
.table-label {
  color: #fff;
}

/* .success-text {
  color: #7fd952;
}

.failure-text {
  color: #9a3338;
} */