body {
  margin: 0;
  padding: 0;
  /* font-family: "vazir"; */
}

/* global  */

.flex-col {
  flex-direction: column;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

/* dash styles */

.dashboard-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* dash createAcc */

.ant-form-item-tooltip {
  padding-right: 8px;
}

.ant-input-number-handler-down-inner,
.ant-input-number-handler-up-inner {
  color: white !important;
}

/* .toomanLabel {
  text-align: right;
  padding-right: 4px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.9em;
} */
/* .ant-input-show-count-suffix{
  color: rgba(255,255,255,0.5);
} */

/* error message style */
.ant-form-item-explain-error {
  margin-top: 4px;
  padding-left: 8px;
  text-align: left;
}
