@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "vazir";
}

.rmdp-input {
  background-color: transparent !important;
  outline: 2px solid transparent!important;
  box-shadow:none!important;
  padding: 0 !important;
  border-color: transparent !important;
  width: 100%;
}
